# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Related to FED python data import
data_parse/data/
*.json
*.pkl


# Data related to inputs
*.xlsx
*.xls
*.gdx
*.asv
*.gpr
*.~gp
*.log
*.lxi
*.lst
*.gdx;
*.~gm


# Data related to outputs
*.png
*.csv
*.dat
*.par
*.cmd
*.tmp
*.mat
*.asv
*.txt
*.fig
*.pdf
*.emf
*.db
*.py
*.gpr
*.db
*.~~g
*.docx
*.BACKUP

scenred.opt
results_plot1.m

FED_PROJECT.gpr
Results_BAU=0_MTC=1_MCO2=0.01_MPE=0_IPCC=1_time=8736h
Results_BAU=0_MTC=1_MCO2=0.01_MPE=0.59_IPCC=0_time=8736h
Results_BAU=0_MTC=1_MCO2=0.01_MPE=0.59_IPCC=1_time=8736h
Results_BAU=0_MTC=1_MCO2=0.01_MPE=0_IPCC=0_time=8736h
Results_BAU=0_MTC=1_MCO2=1_MPE=0.035_IPCC=1_time=8736h
*.zip
results/12-Sep-2019/Results_BAU=0_MTC=1_MCO2=0.01_MPE=0_IPCC=1_time=8750h
FED_PROJECT.gpr
