# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Related to FED python data import
data_parse/data/
*.json
*.pkl


# Data related to inputs
*.xlsx
*.xls
*.gdx
*.mat
*.asv
*.gpr
*.~gp
FED_PROJECT.gpr
*.log
FED_PROJECT.gpr
*.lxi
*.lst
*.gdx;
*.~gm
*.gpr
FED_PROJECT.gpr


# Data related to outputs
*.png
*.csv




*.dat
*.par
*.cmd
*.tmp
FED_PROJECT.gpr
*.gpr
FED_PROJECT.gpr
*.gpr
*.gpr
*.mat
*.asv
*.asv
*.txt
*.gpr
*.gpr
*.fig
*.pdf
*.emf
*.db
*.py
*.py
*.py
*.gpr
*.db
FED_Equations.~~g
FED_GET_GDX_FILE.~~g
FED_SIMULATOR_GUI.m
FED_SIMULATOR_MAIN.~~g
