# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Related to FED python data import
data/
*.json


# Data related to inputs
*.xlsx
*.xls
*.gdx
*.~gp
FED_PROJECT.gpr
*.log
FED_PROJECT.gpr
*.lxi
*.lst
*.gdx;
*.~gm
*.gpr
